Source: dahdi-linux
Section: comm
Priority: optional
Maintainer: Jason McCormick <n8ei@allstarlink.org>
Uploaders: Jason McCormick <n8ei@allstarlink.org>
Build-Depends: debhelper-compat (= 12), bzip2, asciidoc-base | asciidoc,
 wget,
 dh-dkms,
 tar (>= 1.28)
Standards-Version: 4.3.0
Homepage: https://github.com/AllstarLink/dahdi-linux
Vcs-Git: https://github.com/AllstarLink/dahdi-linux
Vcs-Browser: https://github.com/AllstarLink/dahdi-linux
Rules-Requires-Root: no
Testsuite: autopkgtest-pkg-dkms

Package: dahdi-linux
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}, procps, fxload, 
  dahdi-dkms (= ${binary:Version}), dahdi-source (= ${binary:Version})
Description: DAHDI telephony interface - Linux userspace parts
 DAHDI (formerly Zaptel) is an interface for telephony devices used by e.g.
 the Asterisk PBX software. The dahdi-* packages provide the kernel
 DAHDI kernel modules and their required setup environment.
 .
 This package includes the minimal Linux-specific userspace parts: udev
 configuration, xpp initialization scripts.

Package: dahdi-source
Multi-Arch: foreign
Section: kernel
Architecture: all
Depends: ${misc:Depends}, debhelper (>> 4.0), bzip2,
  dahdi-linux (= ${binary:Version}), dahdi-dkms (= ${binary:Version})
Description: DAHDI telephony interface - source code for kernel driver
 DAHDI (formerly Zaptel) is an interface for telephony devices used by e.g.
 the Asterisk PBX software. The dahdi-* packages provide the kernel
 DAHDI kernel modules and their required setup environment, as well as
 basic headers for building DAHDI modules and utilities.
 .
 It is normally used to build kernel modules package: m-a a-i dahdi

Package: dahdi-dkms
Section: kernel
Architecture: all
Depends: ${misc:Depends}, dkms (>= 2.8.4-3~), make, libc6-dev, dpkg-dev, gcc,
  gawk, linux-headers-generic, dahdi-source (= ${binary:Version}),
  dahdi-linux (= ${binary:Version})
Description: DAHDI telephony interface (dkms kernel driver)
 DAHDI (formerly Zaptel) is an interface for telephony devices used by e.g.
 the Asterisk PBX software. The dahdi-* packages provide the kernel
 DAHDI kernel modules and their required setup environment.
 .
 The dkms package will automatically compile the driver for your current
 kernel version.
